<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PhantAuth Avatar Service</title>
  <meta name="description" content="PhantAuth Avatar service returns an AI generated human avatar picture URL based on an identifier which can be an email, hash, username or any other text.">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="style.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="phantauth-favicon.png" />  
  <link rel="manifest" href="/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="theme-color" content="#864a05">
  <meta property="og:title" content="PhantAuth Avatar Service">
  <meta property="og:site_name" content="PhantAuth Avatar Service">
  <meta property="og:url" content="https://avatar.phantauth.net">
  <meta property="og:description" content="PhantAuth Avatar service returns an AI generated human avatar picture URL based on an identifier which can be an email, hash, username or any text.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://avatar.{{ config.domain }}/collage-hex.png">  
</head>

<body>
  <div class="parallax-container">
  <div class="container">
    <h3 class="white-text center-align">PhantAuth Avatar</h3>
    <div class="parallax"><img src="background.png"></div>

    <div class="section carousel">
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/162399d7;female"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/0ed91a70;male"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/predator@example.com"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/little@example.com"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/jsmith"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/very-long-text-without-big-meaning"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/495bb842;female"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/de481e74"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/9cfc12da;male"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/1870636e"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/gameboy"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/ann"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/billy"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/admin@example.com"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/susan"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/frankenstein"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/leo"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/0ed91371"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/05d91a90"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/jim@example.com;male"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/12736365"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/495cb842"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/2b15c2b0"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/12985c24"></a>
      <a class="carousel-item" href="#"><img src="https://{{ config.domain }}/img/avatar/cc43b569"></a>

    </div>
    <h4 class="white-text center-align">if all you need is an avatar</h4>

  </div>
  </div>

<div class="orange lighten-5">
  <div class="section container">
    <div class="input-field">
      <i class="material-icons prefix">edit</i>
      <input placeholder="name, email or hash" id="identifier" type="text" value="162399d7;female">
      <label for="identifier">Identifier</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix">account_box</i>
      <input id="url" type="text" data-prefix="https://{{ config.domain }}/img/avatar/" readonly value="https://{{ config.domain }}/img/avatar/162399d7;female">
      <label for="url">URL</label>
    </div>
    <a id="clipboard-btn" class="waves-effect waves-light btn" data-clipboard-target="#url"><i class="material-icons left">content_copy</i>Copy</a>    
  </div>
  </div>
  <div class="section container">
    <h5 class="center-align primary-text">What's the PhantAuth Avatar service?</h5>
    <p>PhantAuth Avatar service returns an AI generated human avatar picture URL based on an identifier which can be an email, hash, username or any other text after the
       <a href="https://{{ config.domain }}/img/avatar/">https://{{ config.domain }}/img/avatar/</a> prefix.
       The returned picture URL is generated from the identifier in a deterministic way.
       If you omit the identifier, then a random profile picture URL will be returned.
       You can specify the gender of the generated image by appending <code>;male</code> or <code>;female</code> to the identifier.
    </p>
    <h5 class="center-align">How many avatars are there?</h5>
    <p>PhantAuth Avatar service currently has over 10,000 different images.
    </p>
    <h5 class="center-align">Is it legal?</h5>
    <p>Yes. These people don't exists! Images are generated by <a href="https://thispersondoesnotexist.com/">AI</a>.
    </p>
    <h5 class="center-align">Is PhantAuth Avatar free?</h5>
    <p>Sure, PhantAuth Avatar is a free open-source non-profit service.
       If you find this service useful and can afford, please make a small donation as a contribution to the operation costs (domain registration, service hosting, etc.)
    </p>
    <p>
       <a class="waves-effect waves-light btn" href="https://ko-fi.com/Q5Q0T7C7">Ko-fi</a>
       <a class="waves-effect waves-light btn" href="https://liberapay.com/szkiba/donate">Liberapay</a>
       <a class="waves-effect waves-light btn" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VXLCJ3EZRAE7G&source=url">PayPal</a>
    </p>
  </div>
  <div>

   <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">PhantAuth</h5>
          <p class="grey-text text-lighten-4">PhantAuth Avatar is a side project of <a href="https://www.{{ config.domain }}">PhantAuth</a>.
             PhantAuth was designed to simplify testing for applications using OpenID Connect authentication by making use of random generated users.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/phantauth/phantauth-avatar">GitHub repository</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.{{ config.domain }}">PhantAuth Developer Portal</a></li>
          </ul>
        </div>
      </div>
      </div>
      <div class="footer-copyright"><div class="container">Copyright © 2019 Iván Szkiba</div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
