.section .input-field [type=text], .prefix {
    color: #6b3b04;
}  


h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.section h1, .section h2, .section h3, .section h4, .section h5 {
    color: #864a05;
}

.section p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.section code {
    color: #f7a13e;
}